/* --------------------Importing google font poopins-------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------------- Common styles or utilities ------------*/

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    max-width: 1240px;
    margin: 0px auto;
}

/* -----------------------Top-banner style---------------- */

.top-banner {
    display: flex;
    margin-top: 1.5%;
    width: 101%;
    border-radius: 12px;
    background-color: black;
}

.gratest-show,
.messi {
    width: 50%;
}

.gratest-show {
    margin-left: 11%;
    margin-top: 1%;
}

.gratest-show h1 {
    color: white;
    font-size: 69px;
}

.show {
    position: relative;
    bottom: 22px;
}

.earth {
    position: relative;
    bottom: 40px;
}

.gratest-show p {
    color: gray;
    font-size: 16px;
    position: relative;
    bottom: 15%;
}

.gratest-show button {
    height: 45px;
    width: 30%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 8px;
    position: relative;
    bottom: 13%;
    background-color: red;
    transition: width 0.3s ease-in;
}

.gratest-show button:hover {
    width: 40%;
    color: black;
    cursor: pointer;
}

.gratest-show button i {
    position: relative;
    top: 1.5px;
    left: 6px;
    font-weight: bold;
}

.messi img {
    position: relative;
    top: 10px;
    right: 39.5%;
    height: 105%;
    width: 160%;
}

/*---------------- Schedule-section style------------------ */

.schedule-section {
    display: flex;
    margin-top: 5%;
}

.scheduling {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    width: 260px;
    height: 270px;
    padding-bottom: 9px;
}

.scheduling button {
    margin-top: 10%;
    height: 22%;
    width: 80%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10%;

}

.scheduling button:hover {
    border: 1px solid black;
    box-shadow: inset 0 0 10px gray;
}

.scheduling button:active {
    background-color: red;
}

.upcoming,
.all-group,
.blog {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 17px;
}

.scheduling>.red-upcoming {

    background-color: red;
    border: 1px solid red;
}

.scheduling>.red-upcoming:hover {
    box-shadow: inset 0 0 10px white;
}

.upcoming {
    color: white;
}

/*--------------- clashing-section style ------------------*/

.clashing-section {
    margin-left: 1.5%;
    display: grid;
    grid-template-columns: repeat(3, 35.3%);
    row-gap: 22px;

}

.clash {
    width: 312px;
    height: 215px;
    border: 1px solid grey;
    border-radius: 6px;
    box-shadow: 1px 1px 1.5px 1.5px grey;
}

.head-to-head {
    display: flex;
    margin-top: 10%;
}

.firstcountry,
.secondcountry {
    width: 40%;
}

.firstcountry img,
.secondcountry img {
    width: 100%;
    margin-left: 9%;
}

.head-to-head P {
    margin-left: 10%;
    position: relative;
    right: 3.5%;
    font-size: 16px;
    font-weight: 700;
}

.secondcountry {
    position: relative;
    right: 4%;
}

.clash h4 {
    font-size: 18px;
    position: relative;
    left: 20%;
    bottom: 15px;
}

.clash h6 {
    font-size: 15px;
    font-weight: 500;
    color: grey;
    position: relative;
    bottom: 40px;
    left: 23%;
}

/* ----------Footer section style ------------*/

footer {
    width: 102%;
    height: 400px;
    border-radius: 7px;
    background-color: #161616;
    margin-top: 8%;
}

footer h3 {
    font-size: 42px;
    color: white;
    position: relative;
    top: 24%;
    left: 45%;
}

.contact {
    display: flex;
    border-top: 1.5px solid grey;
    width: 75%;
    position: relative;
    left: 8%;
    padding-left: 7%;
    position: relative;
    top: 22%;
}

.contact-first,
.contact-second {
    display: flex;
    color: grey;
}

.contact-first>p {
    margin-left: 7%;
    white-space: nowrap;
}

.contact-second {
    margin-left: 17%;
}

.contact-second>p {
    white-space: nowrap;
}

.goal-live {
    margin-left: 22%;
}

.communication a i {
    color: white;
    margin-left: 0.7%;
    position: relative;
    top: 130px;
    left: 43%;
    font-size: 23px;

}